# LarzOS GRUB branding - installed by larz-branding as
# /etc/default/grub.d/99-larzos.cfg (sourced after /etc/default/grub).
GRUB_DISTRIBUTOR="LarzOS"
GRUB_CMDLINE_LINUX_DEFAULT="quiet loglevel=3 splash vt.global_cursor_default=0"
GRUB_TIMEOUT=2
GRUB_TIMEOUT_STYLE=menu
GRUB_DISABLE_OS_PROBER=false
